extends ../layout/layout.jade
block contenthead

//拆零拣选
block content
  div.content-top
    P 你好 拆零拣选
    P 开发工作在WMS，RF，API
    P wms系统支持打印拆零拣货单，拣货完成回填确认 --要做拣货路径优化
    P RF系统拣货：视系统是否有拣货容器而定流程不同。
    