extends ../layout/layout.jade
block contenthead

//托盘拣货
block content
  div.content-top
    P 你好 托盘拣货
    P 开发工作在WMS，RF，API
    P wms系统支持打印整托拣货单，拣货完成回填确认 --要做拣货路径优化
    P RF系统拣货：选择拣货区域号，下载拣货任务，扫描托盘号确认下架，放置到指定位置
    