extends ../layout/layout.jade
block contenthead

block content
  div.content-top
    P 你好 波次维护 工作在wms 和 api 不涉及RF
    B 波次创建过程中，库存状态为在库状态，可能涉及到补货，移位任务
    P 波次维护涉及的内容
    P 1.波次管理只在wms系统中做，开发任务在wms和api
    p 2.创建波次
    p 3.为某个波次添加订单（出库订单/销售订单）
    p 4.查询某个波次的详细信息 总量、未拣货量、拣货量、发货量
    p 5.查询所有波次的状态 未分配、作业中、已完成
    p 6.波次补货任务查询
    p 7.波次任务类型：逐订单，提总，模糊提总
    p 8.波次在分配前可修改，分配后不可修改。
