div#modal-asn-add-main.modal.fade
      div.modal-dialog
        div.modal-content
          div.modal-header
            p 新增ASN
          div.modal-body
            p asn单号系统生成
            label 供应商id
            input(placeholder="供应商id")
            br
            label 供应商名称
            input(placeholder="供应商名称")
            br
            label 电话
            input(placeholder="电话")
            br
            label email
            input(placeholder="email")
            br
            label 助记码
            input(placeholder="助记码")
            br
            label 单据源
            input(disable="true" value="手工制单")

          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") 新增
            button(type="button" class="btn btn-default" data-dismiss="modal") close