div#modal-asn-add-detail.modal.fade
      div.modal-dialog
        div.modal-content
          div.modal-header
            p 新增ASN明细
          div.modal-body
            label 品名
            input(placeholder="品名")
            br
            label 规格
            input(placeholder="l*w*h")
            br
            label 产地
            input(placeholder="产地")
            br
            label 包装大小（cm^3）
            input(placeholder="包装大小")
            br
            label 数量
            input(placeholder="数量")
            br

          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") 新增
            button(type="button" class="btn btn-default" data-dismiss="modal") close