div.container-fluid
  div.row-fluid
    div.span12
      ul.nav.nav-list
        li.active
          a(href="/") home
        li.nav-header 
          a +入库作业
        li
          a(href="/storagein") 采购订单
        li
          a(href="/storagein/asn") ASN/收货单
        li
          a(href="#") 收货
        li
          a(href="#") 配位
        li
          a(href="#") 上架
        li
          a(href="#") 销退
        li.nav-header 
          a +出库作业
        li
          a(href="#") 波次
        li 
          a(href="#") 整托拣货
        li
          a(href="#") 整件拣货
        li
          a(href="#") 零捡拣货
        li
          a(href="#") 复核
        li
          a(href="#") 销售退货
        li.nav-header 
          a +库内作业
        li
          a(href="#") 补货
        li 
          a(href="#") 盘点
        li
          a(href="#") 移位
        li.nav-header 
          a +配置
        li
          a(href="#") 货品
        li 
          a(href="#") 包装
        li
          a(href="#") 纸箱
        li
          a(href="#") 库位
        li
          a(href="#") 区域
        li.nav-header 
          a +管理
        li
          a(href="#")用户
        li 
          a(href="#") 角色

