div.container-fluid
  div.row-fluid
    div.span12
      ul.nav.nav-list
        li 
          a(href="/") home
        li.nav-header
          a sys
        li.active
          a user
        li
          a(href="#") role
        li.nav-header
          a wms-model
        li
          a storage
        li 
          a lpn
        li
          package
        li
        li
          a(href="/storagein") storyagein
        li
          a yushouhuodan
        li
          a shouhuodengji
        li.divider
        li
          a shouhuo