//if (is_debug == false)
    
    // script(src='/assets/js_min/sifter.min.js')
    // script(src='/assets/js_min/sm.min.js')
    // script(src='/assets/js_min/sm-extend.min.js')
    // script(src='/assets/js_min/sm-city-picker.min.js')
    // script(src='/assets/js_min/xbm.min.js')
    // script(src='/assets/js_min/siteConfig.min.js')
    // script(src='/assets/js_min/express-picker.min.js')
    // script(src='/assets/js_min/client.min.js')
    // script(src='/assets/js_min/stockoutindex.min.js')
    // script(src='/assets/js_min/record_stockin.min.js')
    // script(src='/assets/js_min/record_stockout.min.js')
    // script(src='/assets/js_min/instock.min.js')
    // script(src='/assets/js_min/outstock.min.js')
    // script(src='/assets/js_min/transfer.min.js')
    // script(src='/assets/js_min/message.min.js')
    // script(src='/assets/js_min/customer.min.js')
    // script(src='/assets/js_min/share.min.js')


//- else
    // script(src='/assets/js/sifter.js')
    // script(src='/assets/js/sm.js')
    // script(src='/assets/js/sm-extend.js')
    // script(src='/assets/js/sm-city-picker.js')
    // script(src='/assets/js/xbm.js')
    // script(src='/assets/js/siteConfig.js')
    // script(src='/assets/js/express-picker.js')
    // script(src='/assets/js/client.js')
    // script(src='/assets/js/stockoutindex.js')
    // script(src='/assets/js/record_stockin.js')
    // script(src='/assets/js/record_stockout.js')
    // script(src='/assets/js/instock.js')
    // script(src='/assets/js/outstock.js')
    // script(src='/assets/js/transfer.js')
    // script(src='/assets/js/message.js')
    // script(src='/assets/js/customer.js')
    // script(src='/assets/js/share.js')

    

    
