extends ../layout/layout.jade

block contenthead
  script.
    //这个函数必须放在document ready 外面
    function rowClick(obj)
    {
      var asn_id = $(obj).attr('id');
      console.log(asn_id);

      //根据订单号获取订单详细信息
      $.post("/storagein/Asn/"+asn_id,function(data){
          //console.log(data);
          $("#tb-list-detail").append('<tr>'+
                                          '<td>'+data['asn_detail']['pro_name'] +'</td>'+
                                          '<td>'+data['asn_detail']['pro_spec']+'</td>'+
                                          '<td>'+data['asn_detail']['pro_origin'] +'</td>'+
                                          '<td>'+data['asn_detail']['pro_pack_size']+'</td>'+
                                          '<td>'+data['asn_detail']['qty']+'</td>'+
                                        '</tr>');
        });
    }

    $(document).ready(function(){

      var pageno =1;
      var pagesize =5;
      var total = 0;

      $("#combopagesize").change(function(){
        pagesize=$(this).val();
        queryUserList();
      });

      $(".pagination").find("li").click(function(){
          var tmp=$(this).find("a").text();
          console.log(tmp);
          if(tmp=="首页" && pageno>1)
          {
            pageno = 1;
          }else if(tmp=="上一页" && pageno>1)
          {
            pageno --;
          }else if(tmp=="下一页" &&pageno<total/pagesize){
            pageno++
          }else if(tmp=="尾页" &&pageno<total/pagesize){
            pageno = Math.ceil(total/pagesize);
          }

          console.log(pageno);

          queryUserList();
      });

      function queryUserList(){
        $.post("/storagein/Asn/list?"+"pageno="+pageno +"&pagesize="+pagesize+"&asn_statu="+"a"
            ,{}
            ,function(data,status){
              console.log(data);

              if(data)
              {
                $("#tb-list").find("tbody tr").remove();
                for(var i=0;i<data['rows'].length;i++)
                {

                  $("#tb-list").append('<tr id="'+data['rows'][i].asn_id +'" onclick="rowClick(this)">'+
                                          '<td><input type="checkbox" id="'+data['rows'][i].asn_id+'"></td>'+
                                          '<td>'+data['rows'][i].asn_id +'</td>'+
                                          '<td>'+data['rows'][i].supplier+'</td>'+
                                          '<td>'+data['rows'][i].asn_statu +'</td>'+
                                          '<td>'+data['rows'][i].asn_statu+'</td>'+
                                        '</tr>');
                }
                total = data["total"];
                $("#showpagedetails").text("  当前页"+pageno+
                                            "/总页数"+Math.ceil(total/pagesize)+
                                            " 总记录数"+total);
              }
            });
      }

      //查询按钮
      $("#btnQuery").click(function(){
        queryUserList();
      });

      $("#btnSub").click(function(){
        var asn_id = $("#asn_id").val();
        console.log(asn_id);
        var tmp = {
                    asn_id:asn_id,//单据号
                    supplier:"lgd",//供应商
                    asn_statu:"a",//单据状态
                    asn_detail:{
                      pro_name:"口红" //品名
                      ,pro_spec:"1*1*1" //规格
                      ,pro_origin:"石家庄" //产地
                      ,pro_pack_size:"100" //包装大小
                      ,qty:100 //数量
                    }
                  }

        console.log(tmp.asn)
        $.post("/storagein/Asn/add",{
            tmp: JSON.stringify(tmp) 
          },{dataType:"json"},function(data){
          console.log(data);
        });
      });


      $(".table").click(function(){
          console.log(this);
        });
    });


    
block content

  p storagein asn

  form(name="form1")

    label 预收货单ID

    input(type="text" id="asn_id")
    br

    label Details
    input(type="text" id="email")
    br

    input(type="button", id="btnSub",value="提交")
    input(type="button", id="btnDel",value="删除")
    input(type="button", id="btnQuery", value="查询")

    br


  div#div1

  div
    nav
      ul.pagination
        li
          a 首页
        li 
          a 上一页
        li 
          a 下一页
        li
          a 尾页

    table.table.table-bordered(data-click-to-select="true" ,id="tb-list")
      thead
        tr
          th(data-field="state" data-checkbox="true")
          th(data-field="asn_id") 单据编号
          th(data-field="supplier") 供应商
          th(data-field="asn_statu") 单据状态
          th(data-field="asn_create_time") 创建时间
    label#showpagedetails 当前页1/总页数1 总记录数0  每页显示
    select(id="combopagesize")
      option(value="5") 5
      option(value="20") 20
      option(value="50") 50
      option(value="100") 100
  form#fasndetail
    div
      table.table.table-bordered(data-click-to-select="true" ,id="tb-list-detail")
        thead
          tr
            th(data-field="asn_id") 品名
            th(data-field="supplier") 规格
            th(data-field="asn_statu") 产地
            th(data-field="asn_create_time") 包装大小
            th(data-field="asn_create_time") 数量







