doctype html
head 
	title WMS
	script(src='javascripts/jquery-2.2.3.js')

	//head.jade
	link(href="plugin/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
	script(src="plugin/bootstrap/dist/js/bootstrap.min.js")

	script.
		$(document).ready(function() {


			$("#btnSub").click(function(){
				console.log($("form").serialize());

				$.post("index"
						,$("form").serialize()
						,function(data,status){
							console.log(data);

							if(data)
							{
							$("#div1").html('');
							for(var i=0;i<data.length;i++)
							{

								$("#div1").append('<p>'+data[i].first +'-'+data[i].email+'</p>');
							}

							}
						});
			});

			$("#btnDel").click(function(){
				$.post("index/del"
						,$("form").serialize()
						,function(data,status){
							console.log(data);

							if(data)
							{
							$("#div1").html('');
							for(var i=0;i<data.length;i++)
							{

								$("#div1").append('<p>'+data[i].first +'-'+data[i].email+'</p>');
							}

							}
						});
			});
		});

	style.
		label{
			//background-color:red
		}

body
	p home page
	form(name="form1")

		label 用户名

		input(type="text" name="first")
		br

		label 邮件
		input(type="text" name="email")
		br

		input(type="button", id="btnSub",value="提交")
		input(type="button", id="btnDel",value="删除")
		br
		div#div1


div.container-fluid 
	dir.row-fluid
		div.span2
			ul.nav.nav-list
				li.nav-header
					WMS-V0.0.1

				li.active
					a 模型
				li
					a 模型
				li
					a 模型
				li.nav-header
					功能列表
		div.span6
			ul.nav.nav-tabs
				li.active
					a 模型
				li
					a 模型
				li.disabled
					a 模型




